// THEME COLOR
@themeColorX: #D9F1F1;
@themeColorY: #FAD4AE;
@lostColor: #DE5867;
@foundColor: #3F7CA5;

// sidebar
@sidebarSize: 80rpx;
@sidebarPadding: 20rpx;
@grayBg: rgba(0,0,0,.3);

// FAB
@FABsize: 120rpx;
@FABpadding: @FABsize / 4;
@FABswicthSize: @FABsize / 2;
